html, body {
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: lightgray;
    box-sizing: border-box;
    margin: 0px;
}

#text-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
    vertical-align: middle;
    top: 0%;
    left: 0%;
}

#text {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #000;
    font-family: "Noto Sans";
    font-size: 5em;
}